@charset "UTF-8";
@import "/var.scss";
@import "common";
@import "./theme";

/* -------------CSS 格式化------------ */
body{
    overflow-x:hidden;
    position:absolute;
    width:100%;
    height:100%;
    padding:0px;
    margin:0px;
}
.container,.app{
    width:100%;
    height:100%;
    >div{
        width:100%;
        height:100%;
    }
}




.pageMg{ margin-top: 60px;}
.contents{ padding: 20px;}
.contents h1{ margin-left: 20px;}
.contents p{ margin: 8px 0; color: #666;}



.none{
    display:none !important;
}


.t-align{
    text-align: center;
}

.sexCls{
    margin-top:25px;
}

.clear{
    clear:both;
}

.fl{
    float:left;
}
.fr{
    float:right;
}


.bgColor{
    background:#fff;
}


a{
    text-decoration: none;
    color:blue;
}



