@import "../../style/var";
.header{
    font-size:35px;
    font-family: "Comic Sans MS";
    height:100%;
    display:flex;
    align-items:center;
    >a{
        margin-left:50px;
        color:#fff;
    }
}

.leftMenu{


    .ant-menu-dark ,.ant-menu-item, .ant-menu-item-group-title > a {
        color:#fff;
    }
   .ant-menu-item:hover, .ant-menu-item-group-title:hover {
        color:#fff;

    }
    .ant-menu-submenu-open,.ant-menu-item:hover,.ant-menu-submenu-title:hover,.ant-menu-submenu-active:hover {
        color:$mainBtn;
    }


    .ant-menu-submenu-title{
        height:60px !important;
        line-height:60px !important;
    }
}