@import "../../style/var.scss";
.addArticle{
  width: 90%;
  margin: 10px;
  padding-bottom: 30px;
  background: #fff;
  border-radius: 5px;
  .ant-form-item {
    padding: 20px 0px;
    border-bottom: 1px solid #e8e8e8;
    margin: 0px;
  }
  .ant-input{
    min-height:40px;
  }
  .ant-upload,.ant-upload-select,.ant-upload-select-picture-card{
    width:400px !important;
    height:200px !important;
    border:1px dashed $main-color;
    color:$main-color;
    font-size:20px;
    background:#fff;
    img{
      max-width:100%;
      max-height:100%;
    }
  }
}

.articleList{
  padding:10px;
  .search{
    width:100%;
    padding:15px 20px;
    background:#fff;
    margin-bottom:20px;
    .ant-select{
      margin-right:20px;
      margin-left:3px;
    }
    .ant-btn{
      margin-top:3px;
    }
  }
  table{
    width:100%;
    text-align: left;
    background:#fff;
    tr{
      td{
        max-width:300px;
        overflow: hidden;
        text-overflow:ellipsis;
        white-space: nowrap;
      }
    }
  }
  .otherInfo{
    span{
      margin-right:30px;
      img{
        width:100px;
        height:50px;
      }
    }
  }
  .operaIcon{
    a{
      font-size:20px;
      color:$main-color;
    }
  }
  .fileImg{
    img{
      width: 50px;
      height: 25px;
      vertical-align: middle;
    }
  }
  .ant-table-pagination.ant-pagination{
    float:left;
  }
}